{% extends 'list_onlineshop.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Thank you!</title>
        {% block title %}Thank you!{% endblock %}
    </head>
    
    <body>
       
        {% block content %}
          <h1>Thank you</h1>
          <p>Your order has been successfully completed. Your order namber is <strong>{{ order.id }}</strong></p> 
          <a href="{url 'orders:print'}" type="button">Ovde mozete da odstampate vas racun!</a>    
        {% endblock %}
    </body>

</html>