{% extends 'list_onlineshop.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create!</title>
        {% block title %} Checkout! {% endblock %}
    </head>
    
    <body>
       
        {% block content %}

          <h1>Checkout</h1>

          <div class="input-group mb-3">
            <h3>Your order</h3>
            <ul>
                {% for item in cart %}
                    <li style="font-size: 12px;">
                        {{ item.quantity }} x {{ item.product.name }}
                        <span>{{ item.total_price|floatformat:2 }} dinara.</span>
                    </li>
                {% endfor %}
            </ul>      
           <br><p style="font-size: small;font-weight: bold;">Ukupno za uplatu sa pdv-om: {{ cart.get_total_price|floatformat:2 }} dinara.</p>
          </div>
          <form method="post" class ="mb-3">
            {{ form.as_p }}
            <br>
            <p><input type="submit" class="form-control" value="Place order" style="width: 20%;"></p><!--ovo je za placanje pomocu kartice-->
            
            {% csrf_token %}
          </form>
          <br>
        {% endblock %}

    </body>

</html>