{% extends 'list_onlineshop.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Product details</title>
        {% block title %}{{ product.name }}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/onlineshop.css' %}">
    </head>
    <body>
        
        {% block content %}
            <div class="product-detail" style="width: 900px;height: auto;float: left;">
                <img style="float: left;width: 400px;height: 300px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                <h1>{{ product.name }}</h1>
                <h2>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h2>
                <p class="price">{{ product.price }} dinara.</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" class="form-control" value="Add to cart">
                </form>
                {{ product.description|linebreaks }}
                
            </div>
           
        {% endblock %}
    </body>

</html>